<h1>My Registered Applications</h1>
<div>
<div class="col-md-8">
  <div class="applications">
    <% @registered_applications.each do |application| %>
      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to application.name, registered_application_path(application) %>
            <small>
              <%= link_to "Go to Website", application.url, target: "_blank" %>
            </small>
          </h4>

        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "New Application", new_registered_application_path, class: 'btn btn-success' %>
</div>
